.product-tile {
    width: 200px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
    margin: 0 10px 10px 0;

    .operations {
        display: flex;
        align-items: center;
        border-top: 1px solid green;
        position: absolute;
        bottom: 0;
        width: 100%;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        > :nth-child(1) {
            width: 60%;
            border-right: 1px solid red;
            justify-content: center;
            height: 100%;
        }

        > :nth-child(2) {
            width: 40%
        }
    }
}